
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background-image: url('test5.avif');
  background-size: cover;
  background-position: center;
  color: white;
  overflow-x: hidden;
}


header {
 background-color: rgba(0, 0, 0, 0.7);
  color: #000;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid #0f0;
}

h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}

h3 {
  color: #e0e0e0;
  font-weight: 400;
  margin-top: 10px;
  text-shadow: 1px 1px 5px #000;
}


main {
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.3);
   border: 3px solid #0f0;
   
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

section:last-child {
  border: none;
}

p, label, h2 {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

h2 {
  color: #00ff6a;
  margin-bottom: 10px;
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #00ff6a;
}

input[type="text"],
input[type="password"],
select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #0f0;
  border-radius: 6px;
  color: #fff;
  padding: 8px 10px;
  width: 80%;
  margin-top: 8px;
  outline: none;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #00ff6a;
  box-shadow: 0 0 10px #00ff6a;
}


select {
  cursor: pointer;
}

a {
  color: #00ff6a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


details {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #00ff6a;
  
}

summary {
  font-weight: bold;
  color: #00ff6a;
}


.bola {
  position: absolute;
  bottom: 10%;
  left: -100px;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #ffffff 30%, #000 100%);
  border-radius: 50%;
  animation: moverBola 8s linear infinite;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

@keyframes moverBola {
  0% {
    transform: translateX(-100px) rotate(0deg);
  }
  100% {
    transform: translateX(110vw) rotate(1080deg);
  }
}


footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 3px solid #0f0;
  color: #ccc;
  margin-top: 40px;
  font-size: 0.9em;
}
